In [2]:
import pandas as pd
df=pd.read_csv(r"C:\Users\keerthi\Documents\student_data.csv")
df

,Name,Class,Section,RollNo,Email,PhoneNo,Marks
0,Aarav Sharma,10,A,1,aarav.sharma@gmail.com,9876543210,85
1,Priya Verma,10,A,2,priya.verma@gmail.com,9876543211,78
2,Rohan Das,10,A,3,rohan.das@gmail.com,9876543212,88
3,Sneha Patil,10,B,4,sneha.patil@gmail.com,9876543213,92
4,Kunal Singh,10,B,5,kunal.singh@gmail.com,9876543214,74
5,Ananya Iyer,10,B,6,ananya.iyer@gmail.com,9876543215,81
6,Vikram Rao,10,C,7,vikram.rao@gmail.com,9876543216,69
7,Neha Gupta,10,C,8,neha.gupta@gmail.com,9876543217,90
8,Arjun Mehta,10,C,9,arjun.mehta@gmail.com,9876543218,76
9,Pooja Nair,10,C,10,pooja.nair@gmail.com,9876543219,84

In [4]:
df.max()

Name                 Vikram Rao
Class                        10
Section                       C
RollNo                       10
Email      vikram.rao@gmail.com
PhoneNo              9876543219
Marks                        92
dtype: object

In [5]:
df.min()

Name                 Aarav Sharma
Class                          10
Section                         A
RollNo                          1
Email      aarav.sharma@gmail.com
PhoneNo                9876543210
Marks                          69
dtype: object

In [6]:
df["Marks"].mean()

np.float64(81.7)

In [7]:
df["Marks"].mode()

0    69
1    74
2    76
3    78
4    81
5    84
6    85
7    88
8    90
9    92
Name: Marks, dtype: int64

In [8]:
df["Marks"].median()

82.5

In [9]:
df["Marks"].var()

55.34444444444445

In [10]:
df["Marks"].std()

7.439384681843281

In [11]:
df["Marks"].cov(df["RollNo"])

np.float64(-4.166666666666666)